.username a {
    color: #ccc;
}
.avatar{
    max-width: 196px;
}
#button-tweet {
    float: right;
    margin-top: 10px;
}
#content {
    width: 100%;
    padding: 10px;
}
label[for=content] {
    display: none;
}
.tweet {
    margin-bottom : 5px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
.tweet span.created {
    color: #bbb;
    margin-left: 10px;
    font-weight: bold;
}